cycler==0.12.1
future==1.0.0
kiwisolver==1.4.5
matplotlib==3.7.5
NavPy==1.0
numpy>=1.23,<2.0
Pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
scipy>=1.8,<1.12
six==1.17.0
termcolor==2.4.0
torch>=1.11,<1.13
torchvision>=0.12.0,<0.13
